*.pyc
*.swp
__pycache__/
.*cache/
.coverage
.DS_Store
.eggs/
.idea
.idea/
.noseids
.pymodhis
.pypirc
.venv
.vscode
.vscode/
prof/
dist/pymodbus*
build/html
/pymodbus.egg-info/
venv
downloaded_files/
pymodbus.log
