*.pyc
*.swp
build/
dist/
pymodbus.egg-info/
.coverage
.vscode
.idea
.noseids
*.db
.idea/
.tox/
doc/api/epydoc/html/
.vscode/
.venv
__pycache__/
pymodbus/__pycache__/
pymodbus/client/__pycache__/
pymodbus/datastore/__pycache__/
pymodbus/internal/__pycache__/
pymodbus/server/__pycache__/
test/__pycache__/
**/pymodbus.db
/.eggs/
/test/bin/
/test/include/
/test/lib/
/test/pip-selfcheck.json
/test/.Python
/.cache/
/doc/sphinx/doctrees/
/doc_new/
/doc/quality/
/doc/pymodbus.pdf
/doc/sphinx/
/doc/html/
/doc/_build/
.pytest_cache/
**/.pymodhis
