*.pyc
*.swp
__pycache__/
.*cache/
.coverage
.DS_Store
.eggs/
.idea
.idea/
.noseids
.pymodhis
.venv
.vscode
.vscode/
build/
/doc/source/_static/examples.tgz
/doc/source/_static/examples.zip
/dist/
/pymodbus.egg-info/
venv
