# Python packages required to run `make docs'.
cryptography==2.1.4 # Required to parse some files
humanfriendly==4.4.1
pyasn1==0.4.2       # Required to parse some files
redis==2.10.6       # Required to parse some files
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.1.15  # Required to parse some files
twisted>= 12.2.0    # Required to parse some files

