bcrypt>=3.1.6
capturer >= 2.2
-r requirements-coverage.txt
cryptography>= 2.3
mock >= 1.0.1
pyserial-asyncio>=0.4.0;python_version>="3.4"
pep8>=1.7.0
pyasn1>=0.4.2
pyserial>=3.4
pytest-cov>=2.5.1
pytest>=3.5.0
redis>=2.10.6
sqlalchemy>=1.1.15
#wsgiref>=0.1.2
verboselogs >= 1.5
tornado==4.5.3
# using platform_python_implementation rather than
# implementation_name for Python 2 support
Twisted[conch,serial]>=20.3.0; platform_python_implementation == "CPython" or sys_platform != "win32"
# pywin32 isn't supported on pypy
# https://github.com/mhammond/pywin32/issues/1289
Twisted[conch]>=20.3.0; platform_python_implementation == "PyPy" and sys_platform == "win32"
zope.interface>=4.4.0
asynctest>=0.10.0
