capturer >= 2.2
coverage >= 4.2
cryptography>=1.8.1
mock >= 1.0.1
pyserial-asyncio==0.4.0;python_version>="3.4"
pep8>=1.7.0
pyasn1>=0.2.3
pycrypto>=2.6.1
pyserial>=3.4
pytest-cov>=2.5.1
pytest>=3.5.0
redis>=2.10.5
sqlalchemy>=1.1.15
#wsgiref>=0.1.2
verboselogs >= 1.5
tornado==4.5.3
Twisted>=17.1.0
zope.interface>=4.4.0
