name: CI

on:
  push:
    branches:
      - dev
      - master
    tags:
      - v*
  pull_request:
    branches:
      - dev
  schedule:
    # Sunday at 02:10 UTC.
    - cron: '10 2 * * 0'
  workflow_dispatch:


jobs:
  linters:
    name: Linters - ${{ matrix.os.on }} - ${{ matrix.python.version }}
    runs-on: ${{ matrix.os.on }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          - on: ubuntu-latest
          # - on: macos-latest
          # - on: windows-latest
        python:
          - version: '3.8'
          - version: '3.9'
          - version: '3.10'
          - version: '3.11'
          - version: '3.12'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}
          cache: 'pip'
      - run: pip install -e ".[all]"
      - run: codespell
      - run: pylint --recursive=y examples pymodbus test
      - run: pre-commit run --all-files
      - run: cd doc; ./build_html
      - run: mypy pymodbus

  integreation_test:
    name: pytest - ${{ matrix.os.on }} - ${{ matrix.python.version }}
    runs-on: ${{ matrix.os.on }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os:
          - on: ubuntu-latest
          - on: macos-latest
          - on: windows-latest
        python:
          - version: '3.8'
          - version: '3.9'
          - version: '3.10'
          - version: '3.11'
          - version: '3.12'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}
          cache: 'pip'
      - run: pip install -e ".[all]"

      - run: pytest -v --full-trace --timeout=1200

  analyze:
    name: Analyze Python
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: github/codeql-action/init@v2
        with:
          languages: python
      - uses: github/codeql-action/autobuild@v2
      - uses: github/codeql-action/analyze@v2

  ci_complete:
    name: ci_complete
    runs-on: ubuntu-latest
    needs:
      - linters
      - analyze
      - integreation_test
    timeout-minutes: 1
    steps:
      - name: Dummy
        run: ls
