name: CI

on:
  push:
    branches:
      - dev
      - master
    tags:
      - v*
  pull_request:
    branches:
      - dev
  schedule:
    # Sunday at 02:10 UTC.
    - cron: '10 2 * * 0'
  workflow_dispatch:


jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      PRE_COMMIT_HOME: /home/runner/.virtualenvs/.venv
    strategy:
      fail-fast: false
      matrix:
        os:
          - on: ubuntu-latest
          # - on: macos-latest
          # - on: windows-latest
        python:
          - version: '3.8'
          - version: '3.9'
          - version: '3.10'
          - version: '3.11'
          - version: '3.12'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}

      - name: venv restore
        id: cache-venv
        uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: [ pyproject.toml, pre-commit-config.yaml ]

      - name: venv create
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: pip install '.[all]'

      - name: codespell
        run: codespell

      - name: pylint
        run: pylint --recursive=y examples pymodbus test

      - name: precommit (black, bandit, and ruff)
        run: pre-commit run --all-files

      - name: docs
        run: cd doc; ./build_html

      - name: mypy
        run: mypy pymodbus


  integreation_test:
    name: pytest - ${{ matrix.os.on }} - ${{ matrix.python.version }}
    runs-on: ${{ matrix.os.on }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os:
          - on: ubuntu-latest
          - on: macos-latest
          - on: windows-latest
        python:
          - version: '3.8'
          - version: '3.9'
          - version: '3.10'
          - version: '3.11'
          - version: '3.12'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up ${{ matrix.python.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}

      - name: venv restore
        id: cache-venv
        uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: [ pyproject.toml, pre-commit-config.yaml ]

      - name: venv create
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: pip install '.[all]'

      - name: pytest
        run: pytest -n0  -v --full-trace --timeout=1200

  analyze:
    name: Analyze Python
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: github/codeql-action/init@v2
        with:
          languages: python

      - uses: github/codeql-action/autobuild@v2

      - uses: github/codeql-action/analyze@v2

  ci_complete:
    name: ci_complete
    runs-on: ubuntu-latest
    needs:
      - linters
      - analyze
      - integreation_test
    timeout-minutes: 1
    steps:
      - name: Dummy
        run: ls
