name: CI

on:
  push:
    branches:
      - dev
      - master
    tags:
      - v*
  pull_request:
    branches:
      - dev
  schedule:
    # Sunday at 02:10 UTC.
    - cron: '10 2 * * 0'
  workflow_dispatch:


jobs:
  linters:
    env:
      python: 3.8
    name: Linters - python $python
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: $python

      - name: venv restore
        id: cache-venv
        uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: requirements.txt

      - name: venv create
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: pip install -e . -r requirements.txt

      - name: codespell
        run: codespell

      - name: pylint
        run: pylint --recursive=y examples pymodbus test

      - name: precommit (black, bandit, and ruff)
        run: pre-commit run --all-files

      - name: docs
        run: make -C doc/ html

      - name: mypy
        run: mypy pymodbus


  integreation_test:
    name: ${{ matrix.task.name }} - ${{ matrix.os.on }} - ${{ matrix.python.version }}
    runs-on: ${{ matrix.os.on }}
    needs: linters
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        task:
          - name: pylint
            cmd: pylint --recursive=y examples pymodbus test
            type: lint
          - name: codespell
            cmd: codespell
            type: lint
          - name: precommit (black, bandit, and ruff)
            cmd: pre-commit run --all-files
            type: lint
          - name: docs
            cmd: make -C doc/ html
            type: lint
          - name: mypy
            cmd: mypy pymodbus
            type: lint
          - name: pytest
            cmd: pytest --cov=pymodbus --cov=test --cov-report=term-missing --cov-report=xml -v --full-trace --timeout=20
            type: test
        os:
          - name: Linux
            on: ubuntu-latest
            lint: 'yes'
          - name: Macos
            on: macos-latest
            lint: 'no'
          - name: Windows
            on: windows-latest
            lint: 'no'
        python:
          - version: '3.8'
            lint: 'yes'
          - version: '3.9'
            lint: 'yes'
          - version: '3.10'
            lint: 'yes'
          - version: '3.11'
            lint: 'yes'
          - version: pypy-3.8
            lint: 'yes'
        exclude:
          - task:
              type: lint
            os:
              lint: 'no'
          - task:
              type: lint
            python:
              lint: 'no'
          - os:
              name: Macos
            python:
              version: pypy-3.8
          - os:
              name: Windows
            python:
              version: pypy-3.8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up ${{ matrix.python.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}

      - name: venv restore
        id: cache-venv
        uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: requirements.txt

      - name: venv create
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: pip install -e . -r requirements.txt

      - name: test/lint
        run: ${{ matrix.task.cmd }}

  ci_complete:
    name: ci_complete
    runs-on: ubuntu-latest
    needs:
      - integreation_test
    timeout-minutes: 1
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3.5.2
