name: CI

on:
  push:
    branches:
      - dev
      - master
    tags:
      - v*
  pull_request:
    branches:
      - dev
  schedule:
    # Sunday at 02:10 UTC.
    - cron: '10 2 * * 0'
  workflow_dispatch:
    inputs:
      use_python:
        description: 'python version'
        required: true
        default: 3.8


jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ github.events.inputs.use_python }}

      - name: venv restore
        id: cache-venv
        uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: requirements.txt

      - name: venv create
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: pip install -e . -r requirements.txt

      - name: codespell
        run: codespell

      - name: pylint
        run: pylint --recursive=y examples pymodbus test

      - name: precommit (black, bandit, and ruff)
        run: pre-commit run --all-files

      - name: docs
        run: make -C doc/ html

      - name: mypy
        run: mypy pymodbus


  integreation_test:
    name: pytest - ${{ matrix.os.on }} - ${{ matrix.python.version }}
    runs-on: ${{ matrix.os.on }}
    needs: linters
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          - on: ubuntu-latest
          - on: macos-latest
          - on: windows-latest
        python:
          - version: '3.8'
          - version: '3.9'
          - version: '3.10'
          - version: '3.11'
          - version: pypy-3.8
        exclude:
          - os:
              on: macos-latest
            python:
              version: pypy-3.8
          - os:
              on: windows-latest
            python:
              version: pypy-3.8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up ${{ matrix.python.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}

      - name: venv restore
        id: cache-venv
        uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: requirements.txt

      - name: venv create
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: pip install -e . -r requirements.txt

      - name: pytest
        run: pytest --cov=pymodbus --cov=test --cov-report=term-missing --cov-report=xml -v --full-trace --timeout=20

  ci_complete:
    name: ci_complete
    runs-on: ubuntu-latest
    needs:
      - integreation_test
    timeout-minutes: 1
    steps:
      - name: Dummy
        run: ls
